.comment{
    border: 1px solid #6EEB83;

}
.userCard{
    border:  1px solid  #6EEB83;
    border-radius: 8px;
}
nav{
    position: fixed;
    }
nav button{
    font-size: unset;
}
nav button:hover{
    font-size: unset;
    box-shadow: none;
}
.show{
    display: none;
}
.red{
    color: red;
}
#submitBtn{
    background-color: transparent;
    color: white;
    border-bottom: 1px solid  #6EEB83;
    font-size: 30px;
}

header button{
    border: none;
    background-color: transparent;
    color: white;
    font-size: 50px;
}